@{
    ViewData["Title"] = "Home Page";
}

<!--================ Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content d-flex flex-md-row flex-column">
                        <div class="banner-left text-md-right">
                            <h1 class="text-uppercase">Super Fast Service</h1>
                        </div>
                        <div class="banner-right position-relative">
                            <p>
                                If you are looking for drivers or dispatchers, then you are at right place.
                            </p>
                            <a class="main_btn mt-md-0 mt-4" href="#">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Feature Area =================-->
<section class="feature-area section_gap_top">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <img src="img/feature/f1.png" alt="">
                            <h4>Shipment Tracking</h4>
                            <p>
                                Easy Trucking provides you the tracking facility for each and every load.
                            </p>
                            <a href="#">Find your cargo</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <img src="img/feature/f2.png" alt="">
                            <h4>Have a Question?</h4>
                            <p>
                                If you have any query or have suggestions, feel free to contact us.
                            </p>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <img src="img/feature/f3.png" alt="">
                            <h4>Get a Quote</h4>
                            <p>
                                If you want to send your load at lowest price, then contact us for quotation.
                            </p>
                            <a href="#">Start a quote</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <img src="img/feature/f4.png" alt="">
                            <h4>Fast Delivery</h4>
                            <p>
                                With a team of highly skilled drivers and dispatchers, we aim to deliver your loads as earlier as possible.
                            </p>
                            <a href="#">Get Estimate</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
                <h5>About Our Company</h5>
                <h2>
                    We’re Carefully <br>
                    Delivering your <br>
                    happiness.
                </h2>

                <h4>
                    Easy Trucking joining drivers and dispatchers to sync their operations to provide best service.
                </h4>
                <p>
                    Easy Trucking helps dispatchers in dispatching drivers on the road to ensure compliance with legal deadlines and standards.
                    Inform drivers about their tasks, safety standards and identification of dangerous goods. We also provide facility to drivers
                    so that they can keep track on their loads and their payments.
                </p>
                <a href="#" class="main_btn">Learn More About Us</a>
            </div>
        </div>
    </div>
</section>
<!--================ End Feature Area =================-->
<!--================ About Area =================-->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row justify-content-center text-left section-title-wrap">
                    <div class="col-lg-12">
                        <h5>About Our Company</h5>
                        <h2>
                            Some statistics that we want <br>
                            to show our viewers
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand1.png" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand2.png" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand3.png" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand4.png" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand5.png" alt="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 single_brand">
                                <img src="img/about/brand6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offset-lg-1 col-lg-4">
                <div class="about_box">
                    <div class="activity">
                        <div class="row">
                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="activity_box">
                                    <div>
                                        <img src="img/about/i1.png" alt="">
                                    </div>
                                    <h3>$<span class="counter">2500</span>+</h3>
                                    <p>Packages Delivered</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="activity_box">
                                    <div>
                                        <img src="img/about/i2.png" alt="">
                                    </div>
                                    <h3><span class="counter">500</span>+</h3>
                                    <p>Satisfied Clients</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="activity_box">
                                    <div>
                                        <img src="img/about/i3.png" alt="">
                                    </div>
                                    <h3><span class="counter">70</span>+</h3>
                                    <p>Contries reach</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="activity_box">
                                    <div>
                                        <img src="img/about/i4.png" alt="">
                                    </div>
                                    <h3 class="counter">5000</h3>
                                    <p>Tons of goods</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Area =================-->
<!--================ Start CTA Area ================-->
<section class="cta_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta_inner d-flex flex-md-row flex-column justify-content-between align-items-center">
                    <div class="mb-md-0 mb-4 text-sm-left text-center">
                        <p>Get a quick response from our team</p>
                        <h1>Please feel free to reach us</h1>
                    </div>
                    <div class="">
                        <a href="#" class="main_btn">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End CTA Area ================-->